@{
    ViewData["Title"] = "HW1_17";
}
@section Styles{
    <style>
        li{
            text-align:center;
        }
    </style>
}

<div class="text-center">
    <h1>Ajax作業</h1>
    <h3>MSIT141_17號_蔡俐欣</h3>
</div>

<div>
    <ul class="list-group">
        <li class="list-group-item list-group-item-primary"><a href="../Home/HW1">HW1</a></li>
        <li class="list-group-item list-group-item-primary"><a href="../Home/HW2_Register">HW2</a></li>
        <li class="list-group-item list-group-item-primary"><a href="../Home/HW3_Address_async">HW3</a></li>
    </ul>
</div>

@section Scripts{

}
